<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <h1>All Events</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Description</th>
                <th th:replace="fragments :: addressColumn"></th>
                <th th:replace="fragments :: images"></th>
            </tr>
        </thead>
        <tbody>
<!--            <td th:unless="${events} and ${events.size()}">No events yet</td>-->
            <tr th:each="event : ${events}">
                <td th:text="${event.getKey()}"></td>
                <td th:text="${event.getValue()}"></td>
                <td th:replace="fragments :: anAddress"></td>
                <td th:replace="fragments :: anImage"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>